@import url('https://fonts.cdnfonts.com/css/faith-hope');
@import url('https://fonts.cdnfonts.com/css/adlam-display');

:root{
    --background-color: #1d1d1d;
    --color-white: #fff;
    --orange: #ce6300;
    --orange-before: #ce640070;
}

html, body {
    height: 100%;
    margin: 0;
    display: flex;
    align-items: center;
    flex-direction: column;
    background-color: var(--background-color);
    font-family: 'ADLaM Display', sans-serif;
                                                                              
}
.titleAll{
    color: var(--color-white) ;
}
.linksNavContainer{
    margin-bottom: 2rem;
}
.linksNav{
    text-decoration: none;
    margin: 10px;
    border: 1px solid var(--color-white);
    border-radius: 0.5rem;
    padding: 10px;
    background-color: var(--orange);
    color: var(--color-white);
    transition: 300ms ease-in-out;
}
.linksNav:hover{
    background-color: var(--orange-before);
}
.taskTitle{
    font-family: 'Agbalumo', sans-serif;                                         
}
.ContainerAllTasks {
    width: 90vw;
    display: flex;
    flex-direction: column; /* Organiza as tarefas em coluna */
    gap: 10px; /* Espaço entre as tarefas */
}

.ContainerTask {
    display: flex;
    justify-content: space-between; /* Espaça o título e conteúdo à esquerda e o botão à direita */
    align-items: center; /* Alinha verticalmente o título e o conteúdo */
    padding: 10px;
    border: 1px solid #ddd;
    border-radius: 5px;
    background-color: #f9f9f9;
}


.btnDelete {
    background-color: red;
    color: #ffffff;
    border: none;
    padding: 10px 10px;
    border-radius: 3px;
    cursor: pointer;
    transition: 300ms ease-in-out;
}

.btnDelete:hover {
    background-color: rgb(184, 25, 25);
}